<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/aklogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyDashboard"
        tools:targetApi="31">

        <activity
            android:name=".ContactUs"
            android:exported="false" />

        <activity
            android:name=".glamour3"
            android:exported="false" />

        <activity
            android:name=".glamour2"
            android:exported="false" />

        <activity
            android:name=".Blog3"
            android:exported="false" />

        <activity
            android:name=".Blog2"
            android:exported="false" />

        <activity
            android:name=".SignupActivity"
            android:exported="false" />

        <activity
            android:name=".Blogs"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".home"
            android:exported="false"/>

        <activity android:name=".Aboutus" />

        <activity android:name=".WearYourGlamour" />

    </application>

</manifest>
